{% extends 'users/base.html' %}
{% block content%}
<form action="{%url 'users:login'%}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="small mb-1" for="inputEmailAddress">Имя пользователя</label>
        {{form.username}}
    </div>
    <div class="form-group">
        <label class="small mb-1" for="inputPassword">Пароль</label>
        {{form.password}}
    </div>
    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="#">Забыли пароль?</a>
        <input class="btn btn-primary" type="submit" value="Авторизоваться">
    </div>
</form>
{% endblock%}
{% block href %}
<div class="small"><a href="{% url 'users:register'%}">{{message}}</a></div>
{% endblock%}