{% extends 'users/base.html' %}
{% block err_handle %}
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert"
     style="margin-top: 50px;">
    {% for el in form.non_field_errors %}
    {{ el }}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endblock %}
{% block content%}
<form action="{%url 'users:login'%}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="small mb-1" for="inputEmailAddress">Имя пользователя</label>
        {{form.username}}
    </div>
    <div class="form-group">
        <label class="small mb-1" for="inputPassword">Пароль</label>
        {{form.password}}
    </div>
    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="#">Забыли пароль?</a>
        <input class="btn btn-primary" type="submit" value="Авторизоваться">
    </div>
</form>
{% endblock%}
{% block href %}
<div class="small"><a href="{% url 'users:register'%}">{{message}}</a></div>
{% endblock%}