{%extends 'users/base.html'%}
        {% block err_handle %}
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert"
             style="margin-top: 50px;">
            {{ form.errors }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endblock%}
        {% block content%}
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Регистрация</h3>
        </div>
        <form action="{%url 'users:register'%}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputFirstName">Имя</label>
                        {{form.first_name}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputLastName">Фамилия</label>
                        {{form.last_name}}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label class="small mb-1" for="inputUsername">Имя пользователя</label>
                    {{form.username}}
                </div>
                <div class="col-md-6">
                    <label class="small mb-1" for="inputEmailAddress">Адрес электронной
                        почты</label>
                    {{form.email}}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputPassword">Пароль</label>
                        {{form.password1}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputConfirmPassword">Подтверждение пароля</label>
                        {{form.password2}}
                    </div>
                </div>
            </div>
            <div class="form-group mt-4 mb-0">
                <input class="btn btn-primary btn-block" type="submit" value="Создать аккаунт">
            </div>
        </form>
        {% endblock%}
        {% block href %}
        <div class="small"><a href="{% url 'users:login'%}">Уже есть аккаунт? Авторизуйся</a></div>
        {% endblock%}
