{% extends 'admins/base.html' %}
<!--{% load static %}-->
{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Номенклатура</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Номенклатура
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Описание</th>
                                <th>Количество</th>
                                <th>Цена</th>
                                <th>Фото</th>
                                <th>Категория</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in object_list %}
                            <tr>
                                <td><a href="{% url 'admins:admins_product_update' product.id %}"
                                       style="color: dodgerblue">{{product.name}}</a></td>
                                <td>{{product.description}}</td>
                                <td>{{product.quantity}}</td>
                                <td>{{product.price}}</td>
                                {% if product.ing %}
                                <td class="text-center"><img src="{{product.ing.url}}" height="200" width="200"></td>
                                {% else %}
                                <td class="text-center"><img src="" height="200" width="200"></td>
                                {% endif %}
                                <td>{{product.category}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'admins:admins_product_create'%}">
                        <button class="btn btn-success">Создать номенклатуру</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; GeekShop 2021</div>
            </div>
        </div>
    </footer>
</div>

{% endblock %}