<div class="row">
    {% for el in products %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#">
                <img class="card-img-top"
                     src="{{el.ing.url}}"
                     alt="">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{el.name }}</a>
                </h4>
                <h5>{{el.price }} руб.</h5>
                <p class="card-text">{{el.description }}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'baskets:basket' el.id %}" class="btn btn-outline-success">Отправить в
                    корзину</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
